.additional-goods {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: normal;
  overflow: hidden;
}

.additional-goods__title {
  position: relative;
  font-size: 1.5rem;
  line-height: 125%;
  font-weight: normal;

  @media (min-width: $tablet-width) {
    left: 33px;
  }

  @media (min-width: $desktop-width) {
    left: 0;
  }
}

.additional-goods__wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 53px;
  }
}

.additional-goods__list {
  padding: 0;
  list-style: none;
  border-top: 1px solid var(--special-border-lighten-grey);

  @media (min-width: $tablet-width) {
    border-left: 1px solid var(--special-border-lighten-grey);
    border-right: 1px solid var(--special-border-lighten-grey);
  }

  @media (min-width: $desktop-width) {
    border-left: none;
    border-right: none;
  }
}

.additional-goods__item {
  border-bottom: 1px solid var(--special-border-lighten-grey);

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 32px 27px 32px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 285px 285px 245px;
    column-gap: 30px;
    align-items: center;
    padding: 15px 0;
  }
}

.additional-goods__subtitle {
  margin: 0;
  padding-top: 13px;
  padding-bottom: 13px;
  font-weight: normal;
  color: var(--dark-grey);
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.additional-goods__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding-bottom: 15px;
  font-family: "Arial", sans-serif;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
    padding-bottom: 0;
  }

  /* @media (min-width: $desktop-width) {

  } */
}

.additional-goods__price {
  @media (min-width: $tablet-width) {
    padding-left: 49px;
  }
}

.additional-goods__link {
  display: block;
  margin-bottom: 13px;
  font-size: 1rem;
  line-height: 125%;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    grid-column: 1/-1;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    grid-column: 3/-1;
    min-height: 40px;
  }
}

.additional-goods__present {
  min-height: 200px;
  background: var(--transparent-green85);
}

.additional-goods__present-text {
  font-size: 1rem;
  line-height: 125%;
}
