.contacts {
  background-color: var(--grey);

  &--index {
    background-color: var(--white);
  }
}

.contacts iframe {
  display: block;
  width: 100%;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}

.contacts .contacts__map {
  background-image: url("../img/map-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: 1.5dppx) {
    background-image: url("../img/map-mobile@2x.png");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/map-tablet@1x.png");

    @media (min-resolution: 1.5dppx) {
      background-image: url("../img/map-tablet@2x.png");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/map-desktop@1x.png");

    @media (min-resolution: 1.5dppx) {
      background-image: url("../img/map-desktop@2x.png");
    }
  }
}

.contacts__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 11px 20px;
  padding-bottom: 9px;

  @media (min-width: $tablet-width) {
    padding: 41px 70px 40px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 95px;
    left: calc((100% - 1280px + 60px) / 2);
    width: 565px;
    min-height: 198px;
    padding: 40px 80px;
    background-color: var(--white);
  }
}

.contacts__slogan {
  flex-basis: 142px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 1rem;
  line-height: 125%;
  color: var(--black);
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 1.25rem;
    line-height: 130%;
  }
}

.contacts__address {
  font-style: normal;
  font-size: 0.88rem;
  line-height: 140%;
  width: 140px;

  @media (min-width: $tablet-width) {
    width: 165px;
    font-size: 1rem;
    line-height: 125%;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    width: 155px;
  }
}

.contacts__city {
  display: block;

  @media (min-width: $tablet-width) {
    margin-top: 19px;
    margin-bottom: 6px;
  }
}
