.example {
  font-family: "Oswald", "Arial", sans-serif;
  background-color: var(--light-grey);
  width: 100%;

  @media (min-width: $tablet-width) {
    background-image: linear-gradient(360deg, var(--light-grey) 40%, var(--white) 40%);
  }

  @media (min-width: $desktop-width) {
    background-image: linear-gradient(360deg, var(--light-grey) 79%, var(--white) 79%);
  }
}

.example__wrapper {
  min-height: 500px;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 450px;
  }
}

/* Можно было написать внутри медиа-запроса, но я так написал чтобы в следущих разделах не переделывать */
.example__inner {
  @media (min-width: $desktop-width) {
    width: 450px;
  }
}

.example__title {
  font-size: 2.25rem;
  line-height: 111%;
  font-weight: normal;
  color: var(--black);
}

.example__text {
  font-family: "Arial", sans-serif;
}

.example__wrapper-expensis {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.example__list {
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
}

.example__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.example__amount {
  font-size: 1.5rem;
  line-height: 125%;
  color: var(--black);
}

.example__description {
  font-family: "Arial", sans-serif;
  font-size: 0.75rem;
  line-height: 125%;
}

.example__expenses {
  display: flex;
  justify-content: center;
  font-size: 0.88rem;
  line-height: 143%;
  color: var(--black);

  @media (min-width: $tablet-width) {
    flex-direction: column;
    align-items: flex-end;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
}

.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .slider__controls {} */

.slider__button {
  padding: 5px;
  border: none;
  background: transparent;
}

.slider__button-text {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 1rem;
  line-height: 125%;
  text-transform: uppercase;
}
