.main-nav {
  @media (max-width: $tablet-width) {
    width: 100%;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    margin-left: auto;
  }
}

.main-nav--opened {
  position: relative;
}

.main-nav--opened .main-nav__wrapper {
  position: absolute;
  z-index: 10;
  display: block;
  top: 10px;
  width: 100%;
  background-color: var(--white);

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.main-nav--closed .main-nav__wrapper {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.main-nav__list {
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.main-nav__item {
  position: relative;
  padding-top: 22px;
  padding-bottom: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 125%;
  list-style: none;
  border-top: 1px solid var(--special-border-dark-grey-3);

  @media (min-width: $tablet-width) {
    padding-top: 0;
    margin-left: 20px;
    padding-bottom: 0;
    border: none;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__item--active {
    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: -11px;
      height: 2px;
      background-color: var(--green);
    }
  }
}

.main-nav__link {
  display: block;
  color: var(--black);
  text-transform: uppercase;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    font-size: 1.13rem;
    line-height: 130%;
  }

  @media (min-width: $desktop-width) {
    font-size: 1.25rem;
    line-height: 1.5;
  }

  &:hover {
    text-shadow: 0 4px 4px var(--transparent-black25);
    color: rgb(0, 0, 0);
  }

  &:active {
    opacity: 0.3;
  }
}
