.main-nav {
  @media (max-width: $tablet-width) {
    width: 100%;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    margin-left: auto;
  }
}

@media (max-width: $mobile-only) {
  .main-nav__wrapper {
    display: none;
  }

  .main-nav--opened {
    position: relative;
  }

  .main-nav--opened .main-nav__wrapper {
    position: absolute;
    z-index: 10;
    display: block;
    top: 10px;
    width: 100%;
    background-color: var(--white);

    @media (min-width: $tablet-width) {
      display: block;
    }
  }

  .main-nav--closed .main-nav__wrapper {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
    }
  }

  .main-nav--nojs .main-nav__wrapper {
    position: static;
    display: block;
    top: 10px;
    width: 100%;

    @media (min-width: $tablet-width) {
      display: flex;
      background-color: transparent;
    }
  }
}

.main-nav--nojs .main-nav__wrapper {
  display: flex;
  flex-direction: column;
}

.main-nav__list {
  justify-content: flex-end;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid var(--special-border-dark-grey-3);

  @media (min-width: $tablet-width) {
    border: none;
    display: flex;
    flex-wrap: wrap;
  }
}

.main-nav__link {
  position: relative;
  display: block;
  color: var(--black);
  text-transform: uppercase;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    font-size: 1.13rem;
    line-height: 130%;
  }

  @media (min-width: $desktop-width) {
    font-size: 1.25rem;
    line-height: 1.5;
    color: var(--black);
  }

  &:hover {
    text-shadow: 0 4px 4px var(--transparent-black25);
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__item {
  padding-top: 22px;
  padding-bottom: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 125%;
  list-style: none;
  border-top: 1px solid var(--special-border-dark-grey-3);

  @media (min-width: $tablet-width) {
    padding-top: 0;
    margin-left: 35px;
    padding-bottom: 0;
    font-weight: 400;
    border: none;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__link--active::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -10px;
    height: 2px;
    background-color: var(--green);
  }
}

@media (min-width: $desktop-width) {
  .main-nav__link--index {
    color: var(--white);
  }

  .main-nav__item--index:hover .main-nav__link--index {
    opacity: 0.6;
  }

  .main-nav__item--index:active .main-nav__link--index {
    opacity: 0.3;
  }

  .main-nav__link--active.main-nav__link--index::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -10px;
    height: 2px;
    background-color: var(--white);
  }
}
