.page-main__head {
  font-family: "Oswald", "Arial", sans-serif;
  color: var(--black);
  margin-top: 22px;

  @media (min-width: $tablet-width) {
    margin: 48px 40px 20px;
  }

  @media (min-width: $desktop-width) {
    margin: 58px auto 20px;
  }
}

.page-main__title {
  margin-top: 0;
  margin-bottom: 34px;
  font-weight: normal;
  font-size: 2.25rem;
  line-height: 125%;

  @media (min-width: $tablet-width) {
    font-size: 3.75rem;
    line-height: 100%;
  }
}

.page-main__catalog-title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: inherit;
  font-size: 2.25rem;
  line-height: 125%;
  color: var(--black);
  padding-top: 23px;
  padding-bottom: 35px;

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 48px;
    margin-bottom: 82px;
    font-size: 3.75rem;
    line-height: 100%;
    border: none;
  }

  @media (min-width: $desktop-width) {
    margin-top: 58px;
    margin-bottom: 79px;
  }
}

.page-main__text {
  max-width: 227px;
  margin: 0;
  padding-bottom: 10px;
  font-size: 0.88rem;
  line-height: 129%;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    max-width: 323px;
    margin-top: 56px;
    font-size: 1.25rem;
    line-height: 142%;
  }

  @media (min-width: $desktop-width) {
    margin-top: 58px;
  }
}

.page-main__features {
  margin-top: 20px;
  margin-bottom: 54px;

  @media (min-width: $tablet-width) {
    margin-bottom: 23px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 20px;
    margin-bottom: 13px;
  }
}

.page-main__slider {
  @media (min-width: $tablet-width) {
    margin-top: 70px;
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.page-main__program-types {
  margin-top: 20px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    margin-bottom: 38px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 82px;
    margin-bottom: 64px;
  }
}

.page-main__additional-goods {
  margin-top: 22px;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    margin-top: 67px;
    margin-bottom: 75px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 77px;
    margin-bottom: 52px;
  }
}

.page-main__form-feedback {
  margin-top: 29px;
  margin-bottom: 2px;

  @media (min-width: $tablet-width) {
    margin-top: 57px;
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 57px;
    margin-bottom: 1px;
  }
}
