.page-footer {
  position: relative;
  width: 100%;
  background-color: var(--grey);
}

.page-footer__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  margin-top: 40px;
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding: 42px 30px;
    margin-top: 0;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 43px 30px;
  }
}

.page-footer__logo {
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin-top: 10px;
    margin-bottom: 0;
  }
}
