.page-header {
  display: flex;
  flex-direction: column;

  text-align: center;
  color: #000000;
}

@media screen and (min-width: $tablet-width) {
  .page-header {
    flex-direction: row;
    justify-content: space-between;
  }

  .main-nav__toggle {
    display: none;
  }
}
