.product-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px 20px 24px 20px;
  margin: 0 auto;
  border-top: 1px solid var(--special-border-grey);

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr;
    grid-template-rows: min-content auto min-content;
    min-width: 324px;
    min-height: 511px;
    padding: 0 36px 39px;
    border: none;
    background-image: linear-gradient(360deg, var(--grey) 84%, var(--white) 84%);
  }

  @media (min-width: $desktop-width) {
    min-width: 245px;
  }
}

.catalog:last-child {
  border-bottom: 1px solid var(--special-border-grey);
}

.product-card__link-image {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding-top: 8px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 7px;
  }
}

.product-card__title {
  margin: 0;
  margin-right: 40px;
  font-size: 1rem;
  line-height: 125%;
  font-weight: inherit;
  color: var(--dark-grey);
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    width: 172px;
    text-align: center;
    font-size: 1.25rem;
    line-height: 120%;

    @media (min-width: $desktop-width) {
      line-height: 100%;
    }
  }
}

.product-card__image {
  width: 140px;
  height: 112px;

  @media (min-width: $tablet-width) {
    width: 168px;
    height: 200px;
  }

  @media (min-width: $desktop-width) {
    width: 172px;
    height: 196px;
  }
}

.product-card__description-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 32px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 45px;
    justify-content: flex-start;
  }
}

.product-card__link {
  min-height: 41px;
  margin-bottom: 1px;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    min-height: 47px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 14px;
  }
}

.product-card__list {
  padding: 0;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 8px;

  @media (min-width: $tablet-width) {
    padding-top: 12px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 4px;
  }
}

.product-card__item {
  display: flex;
  justify-content: space-between;
  font-family: "Arial", sans-serif;
  font-size: 0.75rem;
  line-height: 133%;
  list-style: none;

  .product-card__price {
    font-weight: normal;
  }

  @media (min-width: $tablet-width) {
    font-size: 1rem;
    line-height: 125%;
    border-bottom: 1px solid var(--special-border-lighten-grey);
    padding-top: 4px;
    padding-bottom: 7px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 4px;
    padding-bottom: 6px;
  }
}

.product-card__button {
  grid-column: 1/-1;
  grid-row: 3/4;
  padding: 10px;
  margin-top: 9px;

  @media (min-width: $tablet-width) {
    min-height: 40px;
    margin-top: 17px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 31px;
  }
}
