.program-types {
  display: block;
  /* padding-top: 20px;
  padding-bottom: 20px; */

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}

.program-types__wrapper {
  min-height: 266px;
  font-family: "Oswald", "Arial", sans-serif;
  background-color: var(--grey);

  @media (min-width: $tablet-width) {
    /* margin-bottom: 20px; */
    min-height: 372px;
    padding: 50px;
  }

  @media (min-width: $desktop-width) {
    max-width: 570px;
    min-height: 374px;
  }
}

.program-types__title {
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 1.54;
  text-transform: uppercase;
  color: var(--black);
}

.program-types__text {
  font-family: "Arial", sans-serif;
  color: var(--special-dark-grey);
}

.program-types__link {
  font-size: 1rem;
  line-height: 125%;
  color: var(--black);
  text-transform: uppercase;
  text-decoration: none;
}
