.selection-program {
  min-height: 480px;
  font-family: "Oswald", "Arial", sans-serif;
  color: var(--white);
  background-image: linear-gradient(180deg, var(--transparent-darken-green85) 63%, var(--white) 63%),
    url("../img/index-background-mobile@1x.jpg"),
    linear-gradient(var(--background-grey-cat) 100%, var(--red) 1%);
  background-position: top center;
  background-size: 100%, 320px 305px, 100%;
  background-repeat: no-repeat;

  @media (min-resolution: 1.5dppx) {
    background-image: linear-gradient(180deg, var(--transparent-darken-green85) 63%, var(--white) 63%),
      url("../img/index-background-mobile@2x.jpg"),
      linear-gradient(var(--background-grey-cat) 100%, var(--red) 1%);
  }

  @media (min-width: $tablet-width) {
    color: var(--black);
    background-image: none;
  }
}

.selection-program__inner {
  display: grid;

  @media (min-width: $desktop-width) {
    grid-template-columns: 50% 50%;
    width: 1122px;
    margin-top: 22px;
    margin-bottom: 20px;
  }
}

.selection-program__title {
  max-width: 250px;
  margin: 27px auto;
  text-align: center;
  font-weight: normal;
  font-size: 2.25rem;
  line-height: 100%;

  @media (min-width: $tablet-width) {
    max-width: 414px;
    margin-top: 71px;
    margin-left: 88px;
    margin-bottom: 41px;
    font-size: 3.75rem;
    line-height: 100%;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin-top: 70px;
    margin-left: 0;
  }
}

.selection-program__text {
  margin: 0 auto;
  padding-bottom: 25px;
  max-width: 200px;
  font-size: 0.88rem;
  line-height: 110%;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-left: 88px;
    max-width: 283px;
    padding-bottom: 17px;
    text-align: left;
    font-size: 1.25rem;
    line-height: 110%;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    margin-left: 0;
  }
}

.selection-program__img {
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    transform: translateY(-14%);
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    grid-row: 1/5;
    transform: translateX(-29%);
  }
}

.selection-program__link {
  max-width: 300px;
  padding: 10px 72px;
  margin: 0 auto;
  margin-top: 4px;
  font-size: 0.88rem;
  line-height: 129%;

  &:hover {
    background-color: var(--darken-green);
  }

  &:active {
    color: var(--transparent-white30);
    background-color: var(--darken-green);
  }

  @media (min-width: $tablet-width) {
    position: relative;
    grid-row-start: 3;
    margin-top: 30px;
    margin-left: 90px;
    max-width: 245px;
    min-height: 54px;
    padding: 14px 27px;
    font-size: 1.25rem;
    line-height: 110%;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    position: static;
    margin-left: 0;
    margin-top: 50px;
  }
}
