.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider__img {
  width: 100%;
  min-height: 232px;
}

.slider__controls {
  display: flex;
  margin-top: 15px;
  margin-bottom: 40px;
}

.slider__button {
  padding: 5px;
  border: none;
  background: transparent;
}

.slider__button-text {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 1rem;
  line-height: 125%;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 1.25rem;
    line-height: 125%;
    border-bottom: 1px dotted var(--transparent-black25);

    &:hover {
      border-bottom: 1px solid var(--transparent-black40);
    }

    &:active {
      border: none;
    }
  }
}

.slider__range {
  max-width: 85px;
  min-height: 14px;
  margin: 0 14px;
}
