.social {
  width: 100%;

  @media (min-width: $tablet-width) {
    max-width: 350px;
  }

  @media (min-width: $desktop-width) {
    max-width: 700px;
  }
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 13px 0 10px;
  list-style: none;
  border-top: 1px solid var(--special-border-dark-grey-2);
  border-bottom: 1px solid var(--special-border-dark-grey-2);
  width: 100%;

  @media (min-width: $tablet-width) {
    border: none;
  }

  @media (min-width: $desktop-width) {
    padding: 11px 0;
  }
}

.social__item {
  margin: 0 16px;

  @media (min-width: $tablet-width) {
    margin: 0 11px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 10px;
  }
}

.social__link {
  width: 22px;
  height: 41px;
  display: block;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    width: 29px;
    height: 37px;
  }

  @media (min-width: $desktop-width) {
    width: 30px;
    height: 33px;
  }
}

.social__icon {
  width: 100%;
  height: 100%;
  display: block;
}

.social__icon--vkontakte,
.social__icon--instagram {
  fill: var(--devil-grey);
}

.social__icon--facebook {
  fill: transparent;
  stroke: var(--devil-grey);
}

.social__link:hover .social__icon--vkontakte {
  fill: var(--green);
}

.social__link:hover .social__icon--instagram {
  fill: var(--green);
}

.social__link:hover .social__icon--facebook {
  stroke: var(--green);
}

.social__icon--facebook:active,
.social__icon--vkontakte:active,
.social__icon--instagram:active {
  opacity: 0.3;
}
