.social {
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 200px;
    margin-left: 31px;
  }

  @media (min-width: $desktop-width) {
    width: 300px;
  }
}

.social__list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 17px 0 5px;
  list-style: none;
  border-top: 1px solid var(--special-border-dark-grey-2);
  border-bottom: 1px solid var(--special-border-dark-grey-2);

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.social__item {
  margin: 0 15px;

  @media (min-width: $tablet-width) {
    margin: 0 10px;
  }
}

.social__link {
  width: 30px;
  height: 41px;
  display: block;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    width: 29px;
    height: 37px;
  }

  @media (min-width: $desktop-width) {
    width: 30px;
    height: 33px;
  }
}

.social__link--vkontakte,
.social__link--instagram {
  width: 100%;
  height: 100%;
  display: block;
  fill: var(--devil-grey);
}

.social__link--facebook {
  width: 100%;
  height: 100%;
  display: block;
  fill: transparent;
  stroke: var(--devil-grey);
}

.social__link:hover .social__link--vkontakte {
  fill: var(--green);
}

.social__link:hover .social__link--instagram {
  fill: var(--green);
}

.social__link:hover .social__link--facebook {
  stroke: var(--green);
}

.social__link--facebook:active,
.social__link--vkontakte:active,
.social__link--instagram:active {
  opacity: 0.3;
}
