*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

.page-container {
  max-width: 1280px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 30px;
  }
}

.button {
  padding: 10px;
  text-align: center;
  font-family: "Oswald", "Arial", sans-serif;
  color: var(--white);
  background-color: var(--green);
  border: none;
  text-transform: uppercase;
  text-decoration: none;
}

.green-line {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    z-index: -2;
    height: 2px;
    left: 20px;
    right: 0;
    top: 18px;
    background-color: var(--green);

    @media (min-width: $tablet-width) {
      left: 0;
      top: 23px;
    }
  }
}

.green-line--fieldset::after {
  top: -12px;

  @media (min-width: $tablet-width) {
    top: -13px;
  }

  @media (min-width: $desktop-width) {
    top: -12px;
  }
}

.green-line--comment::after {
  top: -36px;

  @media (min-width: 507px) {
    top: -10px;
  }

  @media (min-width: $tablet-width) {
    top: -11px;
  }

  @media (min-width: $desktop-width) {
    top: -12px;
  }
}
