:root {
  --black: #000000;
  --dark: #111111;
  --white: #ffffff;
  --grey: #f2f2f2;
  --special-dark-grey: #444444;
  --dark-grey: #222222;
  --devil-grey: #666666;
  --light-grey: #eaeaea;
  --red: #ff8282;
  --green: #68b738;
  --darken-green: #5eaa2f;


  --special-border-dark-grey-2: #d9d9d9;
  --special-border-dark-grey: #e7e7e7;
  --special-border-dark-grey-3: #e6e6e6;
  --special-border-grey: #ebebeb;
  --special-border-lighten-grey: #cdcdcd;

  --transparent-black25: rgba(0, 0, 0, 0.25);
  --transparent-black40: rgba(0, 0, 0, 0.4);
  --transparent-white30: rgba(255, 255, 255, 0.3);
  --transparent-green85: rgba(104, 183, 56, 0.85);
}

$tablet-width: 768px;
$desktop-width: 1280px;
/* $mobile-width-only: 767px; */
